footer.footer
	.wrapper.wrapper--padded-left
	.wrapper.wrapper--padded-left
		.footer-left
			h2 КОНТАКТЫ
			.footer-columns
				.footer-column
					.footer-title ОТДЕЛ ПРОДАЖ:

					.footer-block
						a(href="tel:0970253030") (097) 025 30 30
						a(href="tel:0662573030") (066) 257 30 30 

					.footer-block
						div e-mail
						a(href="mailto:pradex-m@pradex.ua") pradex-m@pradex.ua

					.footer-block
						div Пн-Пт 9:00 — 20:00
						div Сб-Вс — выходной

				.footer-column
					.footer-title САЛОН-МАГАЗИН:

					.footer-block
						a(href="tel:0683184479") (068) 318 44 79

					.footer-block Украина, г. Харьков, 
						br
						| ТРЦ Караван-Мебель, 
						br
						| салон “Pradex”

					.footer-block
						div с 10:00 до 20:00
						div Без выходных

				.footer-column
					.footer-title Рассылка:

					form.footer-subscribe(action="#")
						input(type="text", name="")


		.footer-right
			input(type="radio", name="tab-radio" id="footer-tab-1" checked)
			label(for="footer-tab-1") Магазин Pradex

			input(type="radio", name="tab-radio" id="footer-tab-2")
			label(for="footer-tab-2") Представительства

			.footer-map#footer-map-shop(data-slideout-ignore)
			.footer-map#footer-map-offices(data-slideout-ignore) skotnik2