section.main-slider(data-slideout-ignore)
	.wrapper
		.banner-slider
			- for (var i=0; i < 5; i++)
				.banner-slide
					.banner-slide__left
						.banner-slide__title Новая коллекция светильников 
							br
							| из ротанга

						p 5 лет гарантии

					.banner-slide__right
						.banner-slide__img
							img(src="img/main-visual.jpg", alt="alt")