section.quality
	.wrapper.wrapper--padded-left
		h2 Европейское качество по украинской цене

		.quality-block
			.quality-block__title СОБСТВЕННОЕ ПРОИЗВОДСТВО.
			p Вся мебель нашей компании производится на территории Украины. Мы также самостоятельно изготавливаем

		.quality-block
			.quality-block__title НЕПОСРЕДСТВЕННЫЙ КОНТРОЛЬ НА ВСЕХ ЭТАПАХ
			p Собственная уникальная рецептура, разработанная специалистами нашей лаборатории, и непосредственный контроль над производством ротанговой ленты позволяет нам гарантировать качество этого материала.

		.quality-block
			.quality-block__title ТЕКСТИЛЬ СОБСТВЕННОГО ПРОИЗВОДСТВА.
			p Собственное швейное производство позволяет нам предоставлять широкий выбор текстильных изделий и создавать ощущение завершенности в интерьере Вашего дома или кафе, изготавливая сидения для диванов и кресел, декоративные подушки, шторы и скатерти в едином стиле и цветовой гамме.

		.quality-block
			.quality-block__title ИНДИВИДУАЛЬНЫЙ ПОДХОД.
			p Собственная уникальная рецептура, разработанная специалистами нашей лаборатории, и непосредственный контроль над производством ротанговой ленты позволяет нам гарантировать качество этого материала. 

		.quality-block
			.quality-block__title ЭКСКЛЮЗИВНЫЕ ЗАКАЗЫ.
			p Самостоятельное изготовление искусственного ротанга дает нам возможность осуществлять эксклюзивные заказы из ротанга такой текстуры, цвета и ширины, которые необходимы конкретному клиенту.

		.quality-block
			.quality-block__title УСТОЙЧИВОСТЬ К ВОЗДЕЙСТВИЮ ОКРУЖАЮЩЕЙ СРЕДЫ.
			p Благодаря специальным добавкам, искусственный ротанг нашего производства устойчив к перепадам температур, воздействию солнечных лучей и появлению грибка и плесени.

		.quality-block
			.quality-block__title ОПЕРАТИВНОСТЬ.
			p Мы в кратчайшие сроки можем воплотить в жизнь Ваши самые масштабные и смелые замыслы.

		.quality-block
			.quality-block__title ШИРОКИЙ ВЫБОР.
			p Более 40 коллекций различного назначения и стилистических направлений. Мебель для сада и офиса, для дома и летней террасы. Восточная эклектика или европейский минимализм, южный Прованс или современный Лофт – выбирать Вам.

		.quality-block
			.quality-block__title ГАРАНТИЯ - 2 ГОДА!
			p Мы уверены в качестве выпускаемой продукции, поэтому предоставляем 2 года гарантии на все изделия.

		.quality-block
			.quality-block__title СВЕТОТЕХНИКА.
			p Компания PRADEX также занимается производством светильников различного назначения, в том числе и специализированных для кафе/баров/ресторанов. Продуманное освещение не только создает атмосферу, но и пробуждает аппетит Ваших посетителей.

		.quality-block
			.quality-block__title КОНТРОЛЬ КАЧЕСТВА
			p  Каждое изделие проходит строгий контроль качества. Наша мебель доказала свою долговечность годами службы в гостиницах, кафе, барах и ресторанах наших клиентов.