section.rotang
	.wrapper.wrapper--padded-left
		h2 Мебель из искусственного ротанга

		.rotang-content
			p Вся мебель из искусственного ротанга от PRADEX плетется вручную, что позволяет говорить об уникальности каждого нашего изделия. А существующие у нас гарантийные и послегарантийные программы дают возможность быть уверенным в том, что даже в случае незначительной поломки изделия наши мастера придут на помощь, чтобы устранить ее.

			p Свою мебель компания PRADEX создает из искусственного ротанга собственного производства, секретная формула которого разрабатывалась не один год. Такой комплексный подход к изготовлению плетеных изделий обусловлен стремлением предлагать клиенту исключительно качественную продукцию. 

			p Искусственный ротанг от PRADEX сделан из первичного сырья и, благодаря особой рецептуре полимерной ленты, не деформируется при натяжении. Он устойчив к перепадам температур, воздействию влаги и ультрафиолета, грибковым повреждениям. 