doctype html
html(lang='ru')
	head
		meta(charset='utf-8')
		title
			block title
		meta(name='description', content='')
		link(rel='shortcut icon', href='img/favicon/favicon.ico', type='image/x-icon')
		link(rel='apple-touch-icon', href='img/favicon/apple-touch-icon.png')
		link(rel='apple-touch-icon', sizes='72x72', href='img/favicon/apple-touch-icon-72x72.png')
		link(rel='apple-touch-icon', sizes='114x114', href='img/favicon/apple-touch-icon-114x114.png')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
		link(rel='stylesheet', href='css/main.css')

		
	body
		.preloader
		// Здесь пишем код
		include _mixins

		include ../_includes/mob-menu

		main.main-content
			include ../_sections/_header
			
			block content
				
			include ../_sections/_footer
			.body-cover

		include ../_misc/scripts
		block page-scripts
		
		
		script(src='js/common.js')