script(src='js/libs/jquery/jquery-1.11.2.min.js')
script(src='js/libs/headhesive/headhesive.js')
script(src='js/libs/jsscrollpane/js/jquery.mousewheel.js')
script(src='js/libs/jsscrollpane/js/jquery.jscrollpane.min.js')
script(src='js/libs/slideout/slideout.js')
script(src="js/pradex-map.js")
script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC_NAmCu9dm16a9i0oeX0T6rBQFgObeiZA&callback=initMap" async defer)
