extends _misc/main

block title
	| Главная страница

block content
	include _sections/main-slider
	include _sections/products
	include _sections/collections
	include _sections/quality
	include _sections/projects
	include _sections/rotang

block page-scripts
	script(src='js/libs/slick/slick.min.js')
	script(src='js/libs/waypoints/waypoints.min.js')
	script(src='js/libs/animate/animate-css.js')