.wrapper.product-cards
	- var prods = [{name: 'СТУЛ БЛЮЗ', flag: true}, {name: 'ДИВАН ГЛОРИЯ ТРЕХМЕСТНІЙ', flag: false}, {name: 'СТУЛ ВУД-2', flag: false}, {name: 'СТУЛ ВУД-3', flag: false}];
	- for (var i=0; i < 2; i++)
		each prod, index in prods
			if prod.flag == true
				.product-card.product-card--new
					.product-card__top
						.product-card__label новинка
						.product-card__img
								img(src="img/products/"+ (index + 1) + ".jpg", alt="alt")
					.product-card__name= prod.name
					
					.product-card__bottom
					
						.product-card__price 1 836,00

						.product-card__button
							a(href="#").button.button-mini У КОШИК

			else
				.product-card
					.product-card__top
						.product-card__label новинка
						.product-card__img
								img(src="img/products/"+ (index + 1) + ".jpg", alt="alt")
					.product-card__name= prod.name
					.product-card__bottom
					
						.product-card__price 1 836,00

						.product-card__button
							a(href="#").button.button-mini У КОШИК